In [1]:
# CODE HERE
!pip install faker
import numpy as np
import pandas as pd

In [4]:
# 데이터 로딩
user_ecommerce_purchase = pd.read_csv('./ecommerce_user.csv')
# 데이터 2개로 분리
A_col = ['IP Address', 'Address', 'Email', 'Job', 'Lot']
B_col = ['IP Address', 'Purchase Price', 'AM or PM', 'Browser Info', 'Language', 'Company', 'Credit Card', 'CC Exp Date', 'CC Security Code', 'CC Provider']
user_info = user_ecommerce_purchase[A_col].copy()
user_purchase = user_ecommerce_purchase[B_col].copy()
# 분리결과 출력
display(user_info, user_purchase)
# 데이터 조작 위한 분리
user_info_new = user_info.sample(int(len(user_info)*0.85)).reset_index().iloc[:,1:]
df_sub_sample = user_purchase.sample(5148, random_state=123)
index_new = [i for i in user_purchase.index if i not in df_sub_sample.index]
df_sub = user_purchase.loc[index_new]
# fake ip 생성 및 반영
from faker import Faker
fake_ip = [Faker().ipv4() for i in range(df_sub_sample.shape[0])]
df_sub_sample['IP Address'] = fake_ip
# 최종 데이터 생성
user_purchase_new = pd.concat([df_sub, df_sub_sample], axis=0).sort_index()
# 컬럼명 변경
user_purchase_new = user_purchase_new[['Purchase Price', 'AM or PM', 'Browser Info', 'Language',
                                      'Company', 'Credit Card', 'CC Exp Date', 'CC Security Code',
                                      'CC Provider', 'IP Address']].copy()
if 'IP Address' in user_purchase_new.columns:
    user_purchase_new.rename(columns = {'IP Address' : 'Address'}, inplace = True)
display(user_info_new, user_purchase_new)
# 저장
user_info_new.to_csv('ecommerce_userinfo.csv', index=False)
user_purchase_new.to_csv('ecommerce_userpurchase.csv', index=False)

,IP Address,Address,Email,Job,Lot
0,149.146.147.205,"16629 Pace Camp Apt. 448\nAlexisborough, NE 77...",pdunlap@yahoo.com,"Scientist, product/process development",46 in
1,15.160.41.51,"9374 Jasmine Spurs Suite 508\nSouth John, TN 8...",anthony41@reed.com,Drilling engineer,28 rn
2,132.207.160.22,Unit 0065 Box 5052\nDPO AP 27450,amymiller@morales-harrison.com,Customer service manager,94 vE
3,30.250.74.19,"7780 Julia Fords\nNew Stacy, WA 45798",brent16@olson-robinson.info,Drilling engineer,36 vm
4,24.140.33.94,"23012 Munoz Drive Suite 337\nNew Cynthia, TX 5...",christopherwright@gmail.com,Fine artist,20 IE
...,...,...,...,...,...
9995,29.73.197.114,"966 Castaneda Locks\nWest Juliafurt, CO 96415",iscott@wade-garner.com,Printmaker,92 XI
9996,121.133.168.51,"832 Curtis Dam Suite 785\nNorth Edwardburgh, T...",mary85@hotmail.com,Energy engineer,41 JY
9997,156.210.0.254,Unit 4434 Box 6343\nDPO AE 28026-0283,tyler16@gmail.com,Veterinary surgeon,74 Zh
9998,55.78.26.143,"0096 English Rest\nRoystad, IA 12457",elizabethmoore@reid.net,Local government officer,74 cL
9999,176.119.198.199,"40674 Barrett Stravenue\nGrimesville, WI 79682",rachelford@vaughn.com,"Embryologist, clinical",64 Hr

,IP Address,Purchase Price,AM or PM,Browser Info,Language,Company,Credit Card,CC Exp Date,CC Security Code,CC Provider
0,149.146.147.205,98.14,PM,Opera/9.56.(X11; Linux x86_64; sl-SI) Presto/2...,el,Martinez-Herman,6011929061123406,02/20,900,JCB 16 digit
1,15.160.41.51,70.73,PM,Opera/8.93.(Windows 98; Win 9x 4.90; en-US) Pr...,fr,"Fletcher, Richards and Whitaker",3337758169645356,11/18,561,Mastercard
2,132.207.160.22,0.95,PM,Mozilla/5.0 (compatible; MSIE 9.0; Windows NT ...,de,"Simpson, Williams and Pham",675957666125,08/19,699,JCB 16 digit
3,30.250.74.19,78.04,PM,Mozilla/5.0 (Macintosh; Intel Mac OS X 10_8_0 ...,es,"Williams, Marshall and Buchanan",6011578504430710,02/24,384,Discover
4,24.140.33.94,77.82,AM,Opera/9.58.(X11; Linux x86_64; it-IT) Presto/2...,es,"Brown, Watson and Andrews",6011456623207998,10/25,678,Diners Club / Carte Blanche
...,...,...,...,...,...,...,...,...,...,...
9995,29.73.197.114,82.21,PM,Mozilla/5.0 (Windows NT 5.1) AppleWebKit/5352 ...,it,Randall-Sloan,342945015358701,03/22,838,JCB 15 digit
9996,121.133.168.51,25.63,AM,Mozilla/5.0 (compatible; MSIE 9.0; Windows NT ...,pt,"Hale, Collins and Wilson",210033169205009,07/25,207,JCB 16 digit
9997,156.210.0.254,83.98,AM,Mozilla/5.0 (Macintosh; U; Intel Mac OS X 10_7...,el,Anderson Ltd,6011539787356311,05/21,1,VISA 16 digit
9998,55.78.26.143,38.84,PM,Mozilla/5.0 (Macintosh; Intel Mac OS X 10_8_8;...,es,Cook Inc,180003348082930,11/17,987,American Express
9999,176.119.198.199,67.59,AM,Mozilla/5.0 (X11; Linux i686; rv:1.9.5.20) Gec...,el,Greene Inc,4139972901927273,02/19,302,JCB 15 digit

,IP Address,Address,Email,Job,Lot
0,51.56.153.34,"593 Michael Cove Suite 930\nNew Maria, KY 3027...",brenda43@hotmail.com,"Psychologist, counselling",92 kY
1,57.242.154.174,"493 Hannah Ferry Apt. 624\nMartinberg, GA 57965",adamsmichael@murray-suarez.com,Television floor manager,37 am
2,167.7.31.204,"20725 Suzanne Roads\nNew Kenneth, MS 26552-7948",ewright@gonzalez.com,"Designer, fashion/clothing",45 ce
3,140.93.251.70,"4817 Matthew Squares\nEast Nancyfort, MI 24997",roy69@rodriguez.info,Mining engineer,00 aH
4,149.230.52.246,"9500 Hensley Track Suite 759\nAlexisside, NM 2...",freemanjoseph@rice.biz,Astronomer,67 ix
...,...,...,...,...,...
8495,69.152.73.143,"363 Nancy Plaza\nScottmouth, CO 04522",nicole71@parker.com,"Engineer, electrical",85 Jt
8496,195.55.169.221,"025 Green Isle Apt. 369\nNew Sarahberg, GA 380...",marissafrederick@dawson.biz,Paramedic,07 HX
8497,43.118.74.210,"1002 Miller Mountains\nNorth Elizabeth, HI 19612",vasquezruth@garcia.com,Licensed conveyancer,08 tN
8498,220.100.51.171,"75609 Steven Springs Apt. 914\nFleminghaven, A...",arogers@gmail.com,Medical sales representative,24 SN
8499,36.204.114.122,"344 David Ferry Apt. 977\nEast Heather, VA 64787",kevinparker@yahoo.com,Economist,07 wn

,Purchase Price,AM or PM,Browser Info,Language,Company,Credit Card,CC Exp Date,CC Security Code,CC Provider,Address
0,98.14,PM,Opera/9.56.(X11; Linux x86_64; sl-SI) Presto/2...,el,Martinez-Herman,6011929061123406,02/20,900,JCB 16 digit,149.146.147.205
1,70.73,PM,Opera/8.93.(Windows 98; Win 9x 4.90; en-US) Pr...,fr,"Fletcher, Richards and Whitaker",3337758169645356,11/18,561,Mastercard,15.160.41.51
2,0.95,PM,Mozilla/5.0 (compatible; MSIE 9.0; Windows NT ...,de,"Simpson, Williams and Pham",675957666125,08/19,699,JCB 16 digit,110.94.157.159
3,78.04,PM,Mozilla/5.0 (Macintosh; Intel Mac OS X 10_8_0 ...,es,"Williams, Marshall and Buchanan",6011578504430710,02/24,384,Discover,34.232.116.93
4,77.82,AM,Opera/9.58.(X11; Linux x86_64; it-IT) Presto/2...,es,"Brown, Watson and Andrews",6011456623207998,10/25,678,Diners Club / Carte Blanche,34.184.52.243
...,...,...,...,...,...,...,...,...,...,...
9995,82.21,PM,Mozilla/5.0 (Windows NT 5.1) AppleWebKit/5352 ...,it,Randall-Sloan,342945015358701,03/22,838,JCB 15 digit,29.73.197.114
9996,25.63,AM,Mozilla/5.0 (compatible; MSIE 9.0; Windows NT ...,pt,"Hale, Collins and Wilson",210033169205009,07/25,207,JCB 16 digit,94.63.94.217
9997,83.98,AM,Mozilla/5.0 (Macintosh; U; Intel Mac OS X 10_7...,el,Anderson Ltd,6011539787356311,05/21,1,VISA 16 digit,156.210.0.254
9998,38.84,PM,Mozilla/5.0 (Macintosh; Intel Mac OS X 10_8_8;...,es,Cook Inc,180003348082930,11/17,987,American Express,55.78.26.143
9999,67.59,AM,Mozilla/5.0 (X11; Linux i686; rv:1.9.5.20) Gec...,el,Greene Inc,4139972901927273,02/19,302,JCB 15 digit,176.119.198.199